/*
###### MAIN STYLING ######
*/

*{
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  color: #3B3B3B;
  padding: 0 2.5rem;
  width: 100%;
}

.full-width-img {
  margin: 0 -2.5rem;
}

.new-line {
  display: block;
}

.desktop-size {
  display: none;
}

a {
  text-decoration: none;
}

.hover-link > a:hover {
  color: #83386e;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 8rem;
  }

  .full-width-img {
    margin: 0 -8rem;
  }

  .new-line {
    display: inline;
  }
}

@media screen and (min-width: 1024px) {

  .container {
    padding: 0 20rem;
  }

  .full-width-img {
    margin: 0 -20rem;
  }

  .mobile-size {
    display: none;
  }

  .desktop-size {
    display: block;
  }

  .new-line-desktop {
    display: block;
  }

/* homepage grid */

  .homepage {
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
      "navbar navbar navbar"
      ". hero ."
      "project project project"
      "intro intro intro"
      ". process ."
      "footer footer footer";
  }

  .navbar {
    grid-area: navbar;
  }

  .hero {
    grid-area: hero;
  }

  .project {
    grid-area: project;
  }

  .intro {
    grid-area: intro;
  }

  .process {
    grid-area: process;
  }

  .footer {
    grid-area: footer;
  }

/* Case Study Grid */

  .content {
    display: grid;
    grid-template-columns: [line1] 2fr [line3] 6fr;
    grid-gap: 4rem;
    margin: 3rem 0;
  }

  .content-title {
    grid-column-start: line1;
  }

  .content-text {
    grid-column-start: line3;
  }
}

/* Fonts */

.topnav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 4.2rem;
  letter-spacing: -1px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
}

h4 {
  font-size: 2.0rem;
  font-weight: 450;
  line-height: 1.5;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  font-weight: 650;
  line-height: 1.3;
}

.heading {
  font-weight: 840;
  letter-spacing: 0.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 3.5rem 0;
}

.title {
  color:#487F84;
  font-weight: 650;
  margin: 3rem 0 2rem 0;
  text-transform: uppercase;
}

.sub-title {
  color: #4F3F4A;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.label {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.label-text {
  font-family: 'lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.0rem;
  letter-spacing: 0.1rem;
}

.small-text {
  font-size: 1.4rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .heading {
    margin: 5rem 0;
  }

  .title {
    margin: 4rem 0 3rem 0;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 2rem;
  }

  h1 {
    font-size: 5.0rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 2.0rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  .label, .label-text {
    font-size: 2.0rem;
    line-height: 3rem;
  }

  .small-text {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .title {
    margin: 0;
  }

  .heading {
    letter-spacing: 1rem;
    margin: 4rem;
  }

  .sub-title {
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }

  .spec li, {
    font-size: 2rem;
  }
}

/* Numbered List */

.first-line {
  padding-bottom: 1rem;
}

.number-list {
  list-style-position: outside;
  padding-left: 1.5rem;
}

.number-list li {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  list-style-type: decimal;
}

.number-list :not(:last-child){
  padding-bottom: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .number-list li {
    font-size: 2.0rem;
  }
}

/* Call-to-action */

.link {
  color: #BC519E;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 450;
  margin: 2rem 0;
}

.link i {
  font-size: 2.5rem;
  left: 0.3rem;
  position: relative;
  top: 0.4rem;
}

#offset-margin {
  margin-top: -1rem;
}

.button {
  border: none;
  border-radius: 0.3rem;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 2rem;
  }

  .button {
    font-size: 1.8rem;
  }
}

/* Overlay */

.overlay {
    background-color: rgb(188,81,158);
    background-color: rgba(188,81,158, 0.95);
    display: none;
    height: 55rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.overlay-content {
    position: relative;
    text-align: center;
    top: 20%;
    width: 100%;
}

.overlay a {
    color: white;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    padding: 2.5rem;
    text-decoration: none;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #C4C4C4;
}

.overlay .closebtn {
    font-size: 5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 2rem}
  .overlay .closebtn {
    font-size: 4rem;
    top: 1.5rem;
    right: 1.5rem;
  }
}

/* Navbar */
.navbar {
  margin-top: 3rem;
}

.topnav {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.topnav > .logo {
  align-self: center;
  justify-self: start;
  max-width: 7rem;
  min-width: 7rem;
}

.topnav > .nav {
  align-self: center;
  justify-self: end;
}

.nav a {
  color: #3B3B3B;
}

#nav-white a {
  color: #FFF;
}

/* Nav Menu for Mobile Screen */

.topnav .menu {
  justify-self: end;
}

.topnav .menu i {
  color: #BC519E;
  font-size: 3.5rem;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .navbar {
    margin-top: 5rem;
  }

  .topnav .logo {
    max-width: 8rem;
    min-width: 8rem;
  }

  .nav {
    align-items: baseline;
    display: flex;
    font-size: 1.8rem;
    justify-content: flex-end;
    text-align: center;
  }

  .nav-item {
    margin-left: 6rem;
  }

  .nav-item a:hover {
    color: #BC519E;
  }

  #btn-contact {
    background-color: #BC519E;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    padding: 1rem 1.8rem;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  #btn-contact-white {
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #00A699;
    font-family: 'Nunito', sans-serif;
    padding: 1rem 1.8rem;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  #btn-contact-white:hover {
    background-color: #FFF;
    color: #00A699;
  }
}

@media screen and (min-width: 1042px) {

  .nav {
    font-size: 2.0rem;
  }

  .topnav .logo {
    max-width: 12rem;
    min-width: 12rem;
  }

  .nav-item {
    margin-left: 7rem;
  }
}

/* Footer */

.footer {
  color: white;
  text-align: center;
}

.message-box {
  background-color:#BC519E;
  padding: 3rem 2.5rem;
}

.message-box > h3 {
  padding: 2.5rem 0;
}

.message-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-in-touch {
  background-color: #FFF;
  color: #BC519E;
  margin-bottom: 2rem;
  padding: 1rem 1.8rem;
}

#btn-resume {
  background-color: #BC519E;
  border: 1.5px solid #FFF;
  color: #FFF;
  margin-bottom: 2rem;
  padding: 1rem 1.8rem;
}

.footer-box {
  background-color: #487F84;
  padding: 2rem 0;
}

.footer-box p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 1rem 2.5rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media > li {
  font-size: 3rem;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .message-btn {
    flex-direction: row;
    padding-left: 0;
    justify-content: center;
  }

  .message-btn a {
    margin:0 1rem;
  }

}

@media screen and (min-width: 1024px) {
  .footer {
    text-align: left;
  }

  .message-box {
    padding-left: 15rem;
    padding-top: 4rem;
    text-align: left;
  }

  .message-btn {
    justify-content: flex-start;
  }

  .message-btn a {
    margin:0;
  }

  #btn-resume {
    margin-left: 2rem;
  }

  .footer-box {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .social-media {
    display: flex;
    padding-right: 15rem;
  }

  .footer-box > p {
    font-size: 1.8rem;
    padding-left: 15rem;
  }

}

/*
###### HOMEPAGE STYLING ######
*/

/**** HERO ****/

.hero {
  margin-top: 10rem;
}

.hero > h2 {
  letter-spacing: -1px;
  margin-top: 2rem;
}

.hero > h3 {
  color: #5B5B5B;
  margin-top: 2.5rem;
}

.green-text {
  color: #487F84;
  font-weight: 600;
}

#name {
  display: block;
}


@media screen and (min-width: 768px) {
  .hero {
    margin-top: 12rem;
  }

  .hero > h2 {
    margin-top: 1rem;
  }

  .hero > h3 {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    margin-top: 17rem;
  }

  .hero > h3 {
    margin-top: 2rem;
  }
}

/**** PROJECT ****/

#project-section {
  padding: 0;
}

/* Project Pointer */

.project-pointer {
  margin-top: 2rem;
  position: relative;
  text-align: center;
  top: 8rem;
}

#pointer-text {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 650;
  letter-spacing: 0.4rem;

}

#pointer-icon {
  display: inline;
  left: 0.8rem;
  position: relative;
  top: 1.2rem;
  width: 2rem;
}

/* Project Screen Display */

.project-screen {
  position: relative;
  top: 9rem;
  width: 100%;
  margin: 0 auto;
}

.project-display {
  min-height: 43rem;
  text-align: center;
}

.project-display .project-bkg-img {
  background: url('../images/homepage/seamhub-bkg-mobile.png') #183038;
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 43rem;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* Project Details */

.project-info {
  color: white;
  height: 43rem;
  margin: 0 auto;
  position: relative;
  top: 9rem;
}

.project-info > h2 {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 2.6px;
}


/* Case Study Button */

#btn-case-study {
  border: 1.5px solid #FFF;
  color: #FFF;
  margin: 2rem 0 3rem 0;
  padding: 1.2rem 1.8rem;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#btn-case-study:hover {
  background-color: white;
  color: #183038;
}

#project-info > a {
  display: inline-block;
}

@media screen and (min-width: 1024px) {

  #project-section > .desktop-size {
    margin-top: 17rem;
  }

  .project-pointer {
    text-align: right;
    top: 12rem;
  }

  #pointer-text {
    font-size: 2.0rem;
  }

  #pointer-icon {
    width: 4rem;
    left: 1rem;
    top: 3rem;
  }

  .project-info-hover {
    color: #FFF;
    margin: 0 auto;
    width: 50%;
  }

  .project-info-hover > h2 {
    font-size: 4.2rem;
    letter-spacing: 6px;
  }

  /* Hover Overlap */

  .project-section-desktop {
    position: relative;
  }

  .project-screen-wbkg {
    display: block;
    height: auto;
    width: 100%;
  }

  .project-display {
    background-color: rgba(24, 48, 56, 0.9);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: none 0.15s ease-in-out;
    right: 0;
    width: 100%;
  }

  .project-section-desktop:hover .project-screen-wbkg  {
    opacity: 0.3;
  }

  .project-section-desktop:hover .project-display {
    opacity: 1;
  }
}

/* Intro */

.grey-box {
  background-color: #EAE7E9;
}

.intro-text {
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.intro-text > a:hover {
  color: #487F84;
}

@media screen and (min-width: 768px) {
  .intro-text {
    padding: 2.5rem 8rem 1rem 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
      ". intro-text .";
    padding: 2.5rem 20rem;
  }

  .intro-text {
    grid-area: intro-text;
    padding: 0;
  }
}

/* Process */
.process {
  margin: 5rem 0;
}

.process h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.process-ux > img {
  height: auto;
  margin: 2rem auto;
  width: 80%;
}

.process-ui {
  margin-top: 3rem;
}

.process-ui > img {
  width: 80%;
  height: auto;
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .process {
    align-items: center;
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-gap: 4rem;
    grid-template-areas:
    "ux-text ux-image"
    "ui-image ui-text";
  }

  .ux-text {
    grid-area: ux-text;
  }

  .ux-image {
    grid-area: ux-image;
  }

  .ui-text {
    grid-area: ui-text;
  }

  .ui-image {
    grid-area: ui-image;
  }
}

/*
###### ABOUT PAGE STYLING ######
*/

.about-intro {
  margin: 5rem 0;
  text-align: center;
}

.about-intro > h2 {
  font-weight: 700;
}

.about-sub-header {
  margin: 2.5rem 0;
}

.about-sub-header > h5 {
  font-weight: 550;
  margin: 2.5rem 0;
}

.hero-pic {
  background: url("../images/about/hero-pic.jpg") #EAE7E9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 35rem;
  min-height: 35rem;
  position: relative;
}

.bio-quote {
  font-weight: 650;
}

@media screen and (min-width: 768px) {

  .hero-pic {
    min-height: 45rem;
    top: 4rem;
  }

  .about-intro {
    margin: 9rem 0;
  }

  .about-main {
    padding: 0 15rem;
  }

  .about-sub-header {
    margin: 3.5rem 0 1rem 0;
  }

  .about-sub-header > h5 {
    margin: 0.5rem;
  }

  .about-last {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6rem;
    margin: 4.5rem 0 3rem 0;
  }

  .profile-text > .title {
    margin-bottom: 1.5rem;
    margin-top: 0rem;
  }
}

@media screen and (min-width: 1024px) {

  .hero-pic {
    min-height: 55rem;
  }

  .about-intro {
    margin: 13rem 0;
  }

  .about-main > .title {
    margin: 3.5rem 0;
  }

  .about-last {
    align-items:center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6rem;
    margin: 4.5rem 0 3rem 0;
    padding: 0;
  }
}

/*
###### SEAMHUB STYLING ######
*/

/* ### Project Intro ### */

.seamhub-bkg {
  background: url("../images/projects/seamhub/bkg.png") #00A699;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 53rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.project-intro {
  text-align: center;
  padding-top: 6rem;
}

#seamhub-logo {
  height: auto;
  max-width: 18rem;
  margin: 0 auto;
}

#raleway-text {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0.16rem;
  line-height: 1.7;
  margin: 4rem 0;
}

#seamhub-display {
  box-shadow: 0 0.3rem 0.4rem grey;
}

#project-label {
  margin: 3rem 0 2rem 0;
}

.call-to-action {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.call-to-action a {
  margin: 1rem 1rem;
}

#btn-prototype-mobile {
  background-color: #BC519E;
  border: 1.5px solid #BC519E;
  color: #FFF;
  padding: 1.2rem 1.8rem;
}

#btn-prototype-desktop {
  background-color: #FFF;
  border: 1.5px solid #BC519E;
  color: #BC519E;
  padding: 1.2rem 1.8rem;
}


.btn-desktop {
  border-color: #BC519E;
  margin-top: 2rem;
}

.btn-desktop a {
  color: #BC519E;
}

@media screen and (min-width: 768px) {

  .seamhub-bkg {
    min-height: 65rem;
  }

  .call-to-action {
    flex-direction: row;
    justify-content: center;
  }

  .call-to-action > div {
    margin: 0 1rem;
  }

  .btn-desktop {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .seamhub-bkg {
    min-height: 80rem;
  }

  #seamhub-display {
    margin: 0 auto;
    width: 90%;
  }
}

/* ### Section Menu ### */

@media screen and (min-width: 1024px) {
  #section-nav {
    align-items: center;
    background-color: #F6F5F6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    overflow: hidden;
    padding: 2rem 20rem;
    text-align: center;
  }

  #section-nav a {
    color: #6F676D;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 450;
    letter-spacing: -1%;
  }

  #section-nav a:hover {
    color: #BC519E;
  }

  .sticky {
    position: fixed;
    top: -1rem;
    width: 100%;
    z-index: 100;
  }

  .sticky + .case-study-content {
    margin-top: 2rem;
  }
}

/* ### Overview ### */

.spec {
  border-left: solid 2px #487F84;
  border-right: solid 2px #487F84;
  border-bottom: solid 2px #487F84;
  border-radius: 2.1rem;
  margin: 3rem auto;
  text-align: center;
  width: 30rem;
}

.spec h5 {
  background-color: #487F84;
  border: solid 2px #487F84;
  border-radius: 2rem 2rem 0 0;
  color: #FFF;
  font-weight: 600;
  margin: 0;
  padding: 0.6rem;
  text-transform: none;
}

.spec ul{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 1rem;
    margin: 0;
}


@media screen and (min-width: 768px) {

  .spec-one, .spec-two {
    width: 95%;
  }

  .spec-three {
    margin-top: 0;
    width: 100%;
  }

  .box-column {
    display: flex;
    justify-content: space-around;
  }

  .content-spec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "role tools"
    "deliverables deliverables";
  }

  /* Grid-area */
  .spec-one {
    grid-area: role;
  }
  .spec-two {
    grid-area: tools;
  }
  .spec-three {
    grid-area: deliverables;
  }
}

@media screen and (min-width: 1024px) {

    .content-spec {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas:
      "role deliverables tools";
    }

    .spec-one, .spec-two {
      margin-top: 2.5rem;
    }

    .spec-three {
      margin-top: 2.5rem;
    }

    .spec .title {
      font-size: 2.2rem;
    }
  }

/* ### Discovery & Strategy ### */

/* ## User Research ## */

/* Finding */

.finding-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.finding {
  border: solid 3px #D3DEDE;
  border-radius: 2rem;
  padding: 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 20rem;
  text-align: center;
}

.finding h2 {
  font-size: 3rem;
  font-weight: 650;
  margin-bottom: 1.5rem;
}

.finding p {
  font-size: 1.4rem;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .finding-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  .finding {
    margin: 0;
    max-width: 30rem;
  }
}

@media screen and (min-width: 1024px) {
  .finding-grid {
    justify-content: left;
  }

  .finding h2 {
    font-size: 4rem;
  }

  .finding p {
    font-size: 2rem;
    line-height: 1.5;
  }
}

/* Project Direction */

.project-dir-box {
  background-color: #D3DEDE;
  padding: 2.5rem 2.5rem;
}

.project-dir-box p {
  font-weight: 600;
  text-align: center;
}

.project-dir-box ol {
  padding: 0 1.6rem;
}

@media screen and (min-width: 768px) {
  .project-dir-box {
    padding: 2.5rem 8rem;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .project-dir-box p {
    text-align: left;
  }

  .project-dir-box {
    padding: 1rem 20rem;
  }
}

/* User Persona */

.persona {
  margin: 3rem 0;
}

.persona h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: 600;
  margin: 3rem 0 2rem 0;
}

blockquote {
  border-width: 2px 0;
  border-style: solid;
  border-color: #D3DEDE;
  color: #4F3F4A;
  display: block;
  font-family: 'lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 550;
  line-height: 1.6;
  margin: 4rem auto;
  max-width: 100%;
  padding: 1.5rem 0 1.5rem;
  position: relative;
}

blockquote:before {
  background: #fff;
  content: '\201C';
  color: #D3DEDE;
  font: 6em/1.08em 'PT Sans', sans-serif;
  height: 2rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: -1rem;
  transform: translate(-50%, -50%);
  width: 3rem;
}

.persona-role {
  color: #487F84;
  font-size: 2.2rem;
  margin: 3rem 0 1rem 0;
  text-align: center;
}

.persona-info {
  font-family: 'nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .persona-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  blockquote {
    max-width: 95%;
    padding: 2rem 0 1.5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .persona-grid {
    grid-gap: 4rem;
  }

  blockquote {
    font-size: 2rem;
  }

  blockquote:before {
    height: 3rem;
    top: -1rem;
    width: 5rem;
  }

  .persona h6 {
    font-size: 2.6rem;
  }

  .persona-info {
    font-size: 2.2rem;
  }
}

/* Competitive Analysis */

.comp-logo {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "one one"
  "two three";
  margin: 3.5rem 0;
}

#dropbox {
  grid-area: one;
  justify-self: center;
  margin-bottom: 2rem;
}

#pinterest {
  grid-area: two;
  justify-self: center;
}

#icloud {
  grid-area: three;
  justify-self: center;
}

.comp-logo img {
  height: auto;
  max-width: 16rem;
}

@media screen and (min-width: 1024px) {
  .comp-logo {
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "one two three";
    margin: 4.5rem 0 3.5rem 0;
  }

  .comp-logo img {
    max-width: 23rem;
    height: auto;
  }
}

/* ### Information Architecture ### */

/* User Flow */

.userflow-bkg .userflow-img {
  background: url('../images/projects/seamhub/user-flow-bkg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 150%;
  height: 17rem;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.userflow-text {
  height: 17rem;
}

.userflow-text p {
  background-color: rgb(241, 241, 241, 0.6);
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  line-height: 3rem;
  position: relative;
  top: 2rem;
}

@media screen and (min-width: 768px) {
  .userflow-bkg .userflow-img {
    background-size: 180%;
    height: 30rem;
  }

  .userflow-text {
    height: 30rem;
  }

  .userflow-text p {
    line-height: 5rem;
    top: 4rem;
  }
}

/* Wireframe & lo-fi prototype */

.wireframe-banner, .lo-fi-img {
  margin-top: 3rem;
}

#add-margin {
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {

  .wireframe-banner {
    margin-bottom: 5rem;
  }

  .lo-fi-bkg {
    background-color: #EAE7E9;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .lo-fi-img-desktop {
    margin: 0 auto;
    width: 80%;
  }

  .lo-fi-link {
    justify-self: end;
    position: relative;
    padding: 0 15rem 1.5rem 0;
  }
}

/* ### Branding ### */

.seamhub-def {
  background-color: #183038;
  color: white;
  margin-top: 2.5rem;
  padding: 2.5rem 2.5rem;
  text-align: center;
}

.logo-sketch-mobile {
  margin-top: 3rem;
}

#big-arrow {
  height: auto;
  margin: 1rem auto 0 auto;
  width: 20%;
}

.logo-var {
  margin-top: 2rem;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .seamhub-def {
    margin-top: 5rem;
    padding: 4rem 30rem;
  }

  .moodboard {
    margin: 0 auto;
    width: 80%;
  }

  .logo-sketch-desktop {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0 3rem 0;
  }

  .logo-var-desktop {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    margin: 3rem 0 5rem 0;
  }
}

/* Typograhy */

#raleway-box, #opensans-box {
  border: solid 1px #D9D9D9;
  border-radius: 20px;
  display: inline-block;
  margin: 1rem 0 2.5rem 0;
  padding: 1rem 1rem;
  width: 15.5rem;
}

#opensans-box {
  margin-left: 1rem;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.font {
  font-size: 1.4rem;
  text-align: right;
}

.font-example {
  font-size: 4.2rem;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.font-style {
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {

  #raleway-box, #opensans-box {
    margin: 3rem 0 1rem 0;
    padding: 1.5rem 1.5rem;
    width: 24rem;
  }

  #opensans-box {
    margin-left: 3rem;
  }

  .font {
    font-size: 1.8rem;
    text-align: right;
  }

  .font-example {
    font-size: 5.4rem;
  }

  .font-style {
    font-size: 1.8rem;
  }
}

/* Color Palette */

.color-sample {
  display: flex;
}

.color-sample li {
  margin-right: 2.5rem;
}

.color-text {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
}

.color-shape {
  border-radius: 50%;
  height: 5.5rem;
  margin: 0 auto;
  width: 5.5rem;
}

.oxford {
  background-color: #183038;
}

.persian {
  background-color: #00A699
}

.white {
  background-color: #FFFFFF;
  border: solid 1px #EAE7E9;
}

.blue {
  background-color: #4484CE;
}

.green {
  background-color: #75CEC7;
}

.orange {
  background-color: #F19F4D;
}

.yellow {
  background-color: #F9CF00;
}

.accent {
  margin: 2.5rem 0 3rem 0;
}

@media screen and (min-width: 1024px) {

  .color-text {
    font-size: 1.6rem;
  }

  .color-shape {
    height: 8rem;
    width: 8rem;
  }

  .color-palette {
    margin: 4rem 0;
  }


}

/* ### Interaction & Visual Design ### */

/* Preference Test */

.ab-test {
  text-align: center;
}

.ab-test-title {
  color: #487F84;
  margin: 2.5rem 0 1rem 0;
  text-align: center;
}

.ab-test img {
  margin: 0 auto;
  padding-top: 2rem;
  width: 90%;
}

.screen {
  background-color: #4BB8C9;
  margin: 2rem -2.5rem;
  padding: 2rem 0;
}

.screen h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

.mobile-size img {
  margin: 0 auto;
  width: 90%;
}

.screen-change {
  background-color: #EBA85D;
  margin: 2rem -2.5rem;
  padding: 3rem 0;
}

.screen-change > h5 {
  line-height: 1;
  margin-bottom: 2rem;
  text-align: center;
}

.screen-change > img {
  margin: 0 auto;
  width: 90%;
}

.number-icon {
  height: auto;
  max-width: 2.2rem;
  vertical-align: top;
}

.change-details {
  align-items: flex-start;
  display: flex;
  padding-left: 2.5rem;
  width: 95%;
}

.change-details p {
  padding: 2rem 0 0 1.2rem;
}

.change-details img {
  padding-top: 2.2rem;
}

@media screen and (min-width: 768px) {

  .screen {
    margin: 2rem -8rem;
  }

  .ab-test {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
  }

  .ab-test-title {
    text-align: center;
  }

  .screen {
    border-radius: 2rem;
    margin: 2rem 0rem;
    padding: 2rem 0;
    width: 100%;
  }

  .screen h1 {
    font-size: 4rem;
  }

  #center-text {
    margin: 3rem 10rem;
    text-align: center;
  }

  .screen-change {
    background-color: #EBA85D;
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 3rem 0;
    width: 100%;
  }

  .screen-change > h5 {
    margin-bottom: 3rem;
  }

  .screen-change > img {
    width: 70%;
    margin: 0 auto;
  }

  .number-icon {
    height: auto;
    vertical-align: top;
    width: 3.3rem;
  }

  .change-details {
    align-items: flex-start;
    display: flex;
    padding-left: 6rem;
    width: 80%;
  }

  .change-details p {
    padding: 2rem 0 0.3rem 1.2rem;
  }

  .change-details img {
    padding-top: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {

  .screen-change > img {
    width: 90%;
  }

  .change-details {
    width: 90%;
  }
}

/* Final Product */

.final-project-img img {
  margin: 2rem 0 6rem 0;
}

@media screen and (min-width: 1024px) {
  .final-project-img {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

/* ### Summary ### */

.sum-statement {
  background: #D3DEDE;
  padding: 3rem 2.5rem;
}

.sum-statement > h5 {
  font-weight: 550;
  letter-spacing: 1.2px;
  line-height: 1.7;
  text-align: center;
}

.add-margin {
  margin-bottom: 2rem;
}

.less-margin {
  margin-top: 2.5rem;
}

.last-p {
  margin-bottom: 3.5rem;
}

#less-margin {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .sum-statement {
    padding: 3rem 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .sum-statement {
    padding: 4rem 15rem;
  }
}
